extends ../shared/template

block content
  h1= title

  h1 New Operation
  form(method='post', action='/operation/new', enctype='multipart/form-data')
    label Operation Name:
    input(type='text', name='name', autofocus=true, placeholder='Enter Operation Name')
    label Expiry:
    input(type='date', name='date')
    label POC:
    select(type='select', name='poc')
      option Select POC
        each user in users
          option(value='#{user._id}')= user.name
    button Create Operation

  table
    thead
      tr
        th
          | Operation Name
        th
          | Expiry
        th
          | Unit
        th
          | POC
        th
          | Remove Operation
    tbody
      each op in ops
        - var userIndex = _.findIndex(users,{'_id': op.poc})
        tr
          td= op.name
          td= op.date
          td #{org.name}
          td= users[userIndex].name
          td
            form(method='POST', action='/ops/#{op._id}/delete')
              button X
