extends ../shared/template

block content
  h1= title

  form(method='GET',action='/obj/search')
    input(type=text, name='search', autofocus=true, placeholder='Search By Objective')
    button Search

  a(href='/obj/new') New Objective

  table
    thead
      tr
        th
          | Objective Photo
        th
          | Priority
        th
          | Operation
        th
          | Objective Name
        th
          | Status
        th
          | Delete
        th
          | Edit
    tbody
      each obj in objs
        - var opIndex = _.findIndex(ops,{'_id': obj.opId})
        tr
          td
            a(href='/obj/#{obj._id}')
              each pic in obj.profilePic
                .photo(style="background-image:url('#{pic.file}')")
          td= obj.priority
          td= ops[opIndex].name
          td= obj.objname
          td= obj.status
          td
            form(method='POST', action='/obj/#{obj._id}/delete')
              button X
          td
            a(href='/obj/#{obj._id}/edit') Edit
