extends ../shared/template

block content
  h1= title

  h1 Add User
  form(method='post', action='/registeru')
    input(type='email', name='email', autofocus=true, placeholder='Email Address', required='required')
    button Register User
    
  table
    thead
      tr
        th
          | Name
        th
          | Email
        th
          | Affiliation
        th
          | DSN
        th
          | Remove from Organization
    tbody
      each user in users
        tr
          td= user.name
          td= user.email
          td= user.affiliation
          td= user.dsn
          td
            form(method='POST', action='/users/#{user._id}/delete')
              button X
