extends ../shared/template

block content
  h1= title
  table
    thead
      tr
        th
          | Objective Photo
        th
          | Priority
        th
          | Operation
        th
          | Objective Name
        th
          | Status
    tbody
      each obj in objs
        - var opIndex = _.findIndex(ops,{'_id': obj.opId})
        tr
          td
            a(href='/obj/#{obj._id}')
              each pic in obj.profilePic
                .photo(style="background-image:url('#{pic.file}')")
          td= obj.priority
          td= ops[opIndex].name
          td= obj.objname
          td= obj.status
